In [31]:
import pandas as pd

#read all dfs
dfCO2 = pd.read_csv('/Users/abhi/Desktop/176PROJECT/CO2-emission-by countries.csv', encoding='latin1')
dfQuality = pd.read_csv('/Users/abhi/Desktop/176PROJECT/archive(5)/Cities1.csv')
dfTemp = pd.read_csv('/Users/abhi/Desktop/176PROJECT/archive(4)/GlobalLandTemperaturesByCountry.csv')

In [32]:
# clean dfCO2
dfCO2 = dfCO2.dropna()
dfCO2 = dfCO2.drop_duplicates()
dfCO2 = dfCO2.drop(columns=['Code', 'Calling Code', 'Area', '% of World', 'Population(2022)', 'Density(km2)'])
dfCO2MERGE = dfCO2[dfCO2['Year'] == 2020]
dfCO2 = dfCO2[dfCO2['Year'] >= 1900]
dfCO2.describe()
dfCO2MERGE.head()

          Country  Year  CO2 emission (Tons)
270   Afghanistan  2020         1.928487e+08
541       Albania  2020         2.855025e+08
812       Algeria  2020         4.587132e+09
1083      Andorra  2020         1.507088e+07
1354       Angola  2020         6.822603e+08

In [33]:
# clean dfQuality
dfQuality = dfQuality.dropna()
dfQuality = dfQuality.drop_duplicates()
dfQuality = dfQuality.drop(columns=['Region'])
dfQuality = dfQuality.groupby('Country')[['AirQuality', 'WaterPollution']].mean().reset_index()
dfQuality.head(5)

       Country  AirQuality  WaterPollution
0  Afghanistan   37.213694       53.440657
1      Albania   51.873625       57.834201
2      Algeria   57.607466       50.623043
3      Andorra   43.750000       25.000000
4       Angola   15.000000       81.250000

In [35]:
# clean dfTemp
dfTemp = dfTemp.dropna()
dfTemp['dt'] = pd.to_datetime(dfTemp['dt'])
dfTemp = dfTemp.drop(columns=['AverageTemperatureUncertainty'])
dfTemp['Year'] = dfTemp['dt'].dt.year
dfTemp = dfTemp.groupby(['Country', 'Year'])[['AverageTemperature']].mean().reset_index()
dfTempMERGE = dfTemp[dfTemp['Year'] == 2013]
dfTemp = dfTemp[dfTemp['Year'] >= 1900]

dfTempMERGE.head(210)

                      Country  Year  AverageTemperature
174               Afghanistan  2013           16.533625
333                    Africa  2013           25.208750
600                   Albania  2013           14.993875
827                   Algeria  2013           25.121500
966            American Samoa  2013           27.517250
...                       ...   ...                 ...
38952                   Spain  2013           14.858875
39163               Sri Lanka  2013           28.175125
39312                   Sudan  2013           28.572000
39487                Suriname  2013           26.957250
39739  Svalbard And Jan Mayen  2013           -5.382000

[210 rows x 3 columns]

In [39]:
#joining tables
mergedInBetween = pd.merge(dfTempMERGE, dfCO2MERGE, on='Country', how='inner')
mergedTempCO2Quality = pd.merge(mergedInBetween, dfQuality, on='Country', how='inner')
mergedTempCO2Quality = mergedTempCO2Quality.drop(columns=['Year_y'])
mergedHistorical = pd.merge(dfTemp, dfCO2, on='Country', how='inner')
mergedHistorical = mergedHistorical.drop(columns=['Year_y'])

In [40]:
mergedHistorical.head()

       Country  Year_x  AverageTemperature  CO2 emission (Tons)
0  Afghanistan    1900           13.749333                  0.0
1  Afghanistan    1900           13.749333                  0.0
2  Afghanistan    1900           13.749333                  0.0
3  Afghanistan    1900           13.749333                  0.0
4  Afghanistan    1900           13.749333                  0.0

In [41]:
mergedTempCO2Quality.head()

,Country,Year_x,AverageTemperature,CO2 emission (Tons),AirQuality,WaterPollution
0,Afghanistan,2013,16.533625,1.928487e+08,37.213694,53.440657
1,Albania,2013,14.993875,2.855025e+08,51.873625,57.834201
2,Algeria,2013,25.121500,4.587132e+09,57.607466,50.623043
3,Andorra,2013,12.307875,1.507088e+07,43.750000,25.000000
4,Angola,2013,22.507875,6.822603e+08,15.000000,81.250000